.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.sign-in-header {
    padding-top: 20vh;
    text-align: center;
    margin: 0;
}

.sign-in-form {
 display: flex;
 flex-direction: column; 
 margin-top: 15px;  
}

.sign-in-input {
    display: block;
    width: 20%;
    margin: 10px auto 20px;
    padding: 10px;
    border: solid 1px #111;
    border-radius: 5px;
}

.sign-in-submit {
    display: block;
    margin: 0 auto;
    padding: 10px 70px;
    border-radius: 5px;
    width: 20%;
    border-style: none;
    background-color: #111;
    color: #eee;
}

.sign-in-submit:hover {
    background-color: #eee;
    color: #111;
}

.question-box {
    display: flex;
    flex-direction: row;
    width: 50%;
    border: solid 1px #111;
    border-radius: 5px;
    margin: 30px auto;
    padding: 20px;
    color: #111;
}

.question-author {
    margin-left: 20px;
}

.question-author-single {
    text-align: center;
}

.question-info {
    margin-left: 50px;
    text-align: center;
}

.question-avatar {
    border-radius: 50%;
    width: 40%;
}

.question-avatar-single {
    border-radius: 50%;
    width: 8%
}

.question-name {
    padding-left: 10px;
}

.question-button {
    display: inline-block;
    text-decoration: none;
    background-color: #111;
    color: #eee;
    padding: 10px 20px;
    margin: auto;
    border-radius: 5px;
    border: none;
}

.question-button[disabled] {
    background-color: #eee;
    color: #111;
}

.question-button:hover {
    background-color: #eee;
    color: #111;
}

.questions-filter {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

nav {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #111;
}

.nav-links {
    display: flex;
    flex-direction: row;
    font-size: 16px;
}

.nav-link:hover {
    background-color: #eee;
    color: #111;
    border-radius: 5px;
}

.nav-user {
    display: flex;
    flex-direction: row;
    font-size: 16px;
}


.nav-user button{
    border: none;
    border-radius: 5px;
    background-color: #111;
    color: #eee;
    padding: 10px 20px;
    font-size: 16px;

}

.nav-user button:hover {
    background-color: #eee;
    color: #111;
}

.nav-user p {
    color: #eee;
    margin: 0;
    margin-right: 10px;
    padding: 10px 15px;
    font-size: 16px;
}

.nav-link {
    text-decoration: none;
    color: #eee;
    padding: 10px;
}

.new-question-header {
    padding-top: 20vh;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.new-question-form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.new-question-input {
    display: block;
    width: 18%;
    margin:5px auto;
    padding: 10px;
    border: solid 1px #111;
    border-radius: 5px;
}

.new-question-submit {
    display: block;
    margin: 5px auto;
    padding: 10px 70px;
    border-radius: 5px;
    width: 20%;
    border-style: none;
    background-color: #111;
    color: #eee;
}

.new-question-submit[disabled] {
    background-color: #eee;
    color: #111;
}

.new-question-submit:hover {
    background-color: #eee;
    color: #111;
}



.leader-board-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    border: solid 1px #111;
    border-radius: 5px;
    margin: 30px auto;
    padding: 20px;
    color: #111;
}

.leader-board-avatar {
    border-radius: 50%;
    width: 30%;
}

.leader-board-name {
    padding-left: 10px;
    display: inline-block;
}


.leader-board-user {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.leader-board-questions {
    margin-left: -40px;
    flex-grow: 1;
    margin-top: 25px;
}

.leader-board-score {
    flex-grow: 1;
    margin-top: 15px;
}

.leader-board-score-number {
    margin-left: 60px;
}

.leader-board-score-header {
    margin-left: 40px;
}

.leader-board-questions-number {
    display: inline-block;
    margin-left: 20px;
}

.leader-board-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 50px;
}


input[type="radio"] {
    display: inline-block;
    margin:5px auto;
    padding: 10px;
    border: solid 1px #111;
    border-radius: 5px;
    margin: 0;
}

label {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
}

.question-option {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 5px auto;
}

.question-option-answered {
    display: flex;
    position: relative;
    justify-content: center;
    width: 30%;
    margin: 5px auto;
    border-radius: 5px;
    border: solid 1px #111; 
}

.your-vote {
    position: relative;
    bottom: 10%;
    left: 10%;
}

.question-option-not-answered {
    display: flex;
    position: relative;
    justify-content: center;
    width: 30%;
    margin: 5px auto;
}

.error-title {
    margin: 0 auto;
    margin-top: 30vh;
}

.error-message {
    margin: 0 auto;
}
